<div class="jumbotron">
  <h1>Angular Js Presentation</h1>
  <p class="lead">
    <a href="/#example1">Example 1</a>
    <a href="/#example2">Example 2</a>
    <a href="#example3">Example 3</a>
    <a href="#example4">Example 4</a>
  </p>
  <p class="lead">
    <a href="#example5">Example 5</a>
    <a href="#example6">Example 6</a>
    <a href="#example7">Example 7</a>
    <a href="#example8">Example 8</a>
  </p>
  <p class="lead">
    <a href="#example9">Example 9</a>
    <a href="#example10">Example 10</a>
    <a href="#example11">Example 11</a>
    <a href="#example12">Example 12</a>
  </p>
  <p class="lead">
    <a href="#example13">Example 13</a>
    <a href="#example14">Example 14</a>
    <a href="#example15">Example 15</a>
    <a href="#example16">Example 16</a>
  </p>
  <p class="lead">
    <a href="#example17">Example 17</a>
    <a href="#example18">Example 18</a>
    <a href="#example19">Example 19</a>
    <a href="#example20">Example 20</a>
  </p>
  <p class="lead">
    <a href="#example21">Example 21</a>
    <a href="#example22">Example 22</a>
    <a href="#example23">Example 23</a>
    <a href="#example24">Example 24</a>
  </p>

  <p class="lead">
    <a href="#example25">Example 25</a>
    <a href="#example26">Example 26</a>

  </p>


  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div  class="jumbotron">
   <h2>More Examples</h2>
    <p>
        <a href="#directive_example">Directive Example</a>
        <a href="#factory_example">Factory Example</a>
    </p>
</div>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
      -->