<div class="jumbotron">
  <h1>Angular Js Presentation</h1>
  <p class="lead">
    <a href="/#example1">Example 1</a>
    <a href="/#example2">Example 2</a>
    <a href="#example3">Example 3</a>
    <a href="#example4">Example 4</a>
  </p>
  <p class="lead">
    <a href="#example5">Example 5</a>
    <a href="#example6">Example 6</a>
    <a href="#example7">Example 7</a>
    <a href="#example8">Example 8</a>
  </p>
  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
      -->