body{
  font-size: 26px;
}

input[type='text']{
  font-size: 22px;
}



ul.list-countries{
  width:  100%;
}
ul.list-countries li{
  display: inline;
  float: left;
  width:  25%;
  padding: 10px;
}

.alert{
  background-color:darkred;
  color:  #ffffff;
  padding: 20px;
}

.success{
  background-color:greenyellow;
  color:  #ffffff;
  padding: 20px;
}